<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p-card header="Campus">

        <div class="card">
            <p-table #dt [value]="campuses" [paginator]="true" [showCurrentPageReport]="true" [rows]="10"
                [rowsPerPageOptions]="[10, 25, 50]" [tableStyle]="{'min-width': '50rem'}"
                [globalFilterFields]="['id', 'nombreDelCampus', 'sede.nombreSede']"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <button pButton label="Nuevo" class="p-button-success" (click)="showDialogNewCampus()"
                            icon="pi pi-plus"></button>
                        <div class="button-add">
                            <span class="p-input-icon-left ml-auto">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text"
                                    (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                                    placeholder="Buscar" />
                            </span>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="nombreDelCampus">Nombre del campus <p-sortIcon
                                field="nombreDelCampus"></p-sortIcon></th>
                        <th pSortableColumn="sede.nombreSede">Sede <p-sortIcon field="sede.nombreSede"></p-sortIcon></th>
                        <th>Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-campus let-columns="columns">
                    <tr>
                        <td>{{campus.id}}</td>
                        <td>{{campus.nombreDelCampus}}</td>
                        <td>{{campus.sede.nombreSede}}</td>
                        <td>
                            <button pButton pRipple icon="pi pi-eye" label="Ver" (click)="obtenerCampusPorId(campus.id)"
                                class="p-button-info buttons-crud"></button>
                            <button pButton pRipple icon="pi pi-pencil" label="Editar"
                                (click)="actualizarCampus(campus.id)" class="p-button-secondary buttons-crud"></button>
                            <button pButton pRipple icon="pi pi-trash" label="Eliminar"
                                (click)="eliminarCampus(campus.id)" class="p-button-danger"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-card>

    <p-dialog header="Nuevo campus" [(visible)]="visibleDialogNewCampus" [style]="{width: '50vw'}">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i>Nombre</i>
            </span>
            <input pInputText [(ngModel)]="campus.nombreDelCampus" placeholder="Nombre del campus"/>
        </div>
        <br>
        <div class="card flex justify-content-center">
            <p-dropdown [style]="{'width': '100%'}" [options]="sedes" [(ngModel)]="campus.sede" optionLabel="nombreSede" [showClear]="true" placeholder="Selecciona una sede"></p-dropdown>
        </div>
        <br><br>
        <div class="button-save">
            <button pButton pRipple icon="pi pi-save" label="Guardar" (click)="agregarCampus()"
                class="p-button-success"></button>
        </div>
    </p-dialog>

    <p-dialog header="Ver campus" [(visible)]="visibleDialogViewCampus" [style]="{width: '50vw'}">
        <h2>Campus seleccionado</h2>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i>Id</i>
            </span>
            <input pInputText readonly [(ngModel)]="campus.id" placeholder="Id" />
        </div>
        <br>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i>Nombre</i>
            </span>
            <input pInputText readonly type="text" [(ngModel)]="campus.nombreDelCampus"
                placeholder="Nombre del campus" />
        </div>
        <br>
        <div class="card flex justify-content-center">
            <p-dropdown [readonly]="true" [style]="{'width': '100%'}" [options]="sedes" [(ngModel)]="campus.sede" optionLabel="nombreSede" [showClear]="true" placeholder="Selecciona una sede"></p-dropdown>
        </div>
        <br>
    </p-dialog>

    <p-dialog header="Editar campus" [(visible)]="visibleDialogEditCampus" [style]="{width: '50vw'}">
        <h2>Campus seleccionado</h2>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i>Id</i>
            </span>
            <input pInputText readonly [(ngModel)]="campus.id" placeholder="Id" />
        </div>
        <br>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
                <i>Nombre</i>
            </span>
            <input pInputText type="text" [(ngModel)]="campus.nombreDelCampus" placeholder="Nombre del campus" />
        </div>
        <br>
        <div class="card flex justify-content-center">
            <p-dropdown [style]="{'width': '100%'}" [options]="sedes" [(ngModel)]="campus.sede" optionLabel="nombreSede" [showClear]="true" placeholder="Selecciona una sede"></p-dropdown>
        </div>
        <br><br>
        <div class="button-update">
            <button pButton pRipple icon="pi pi-save" label="Actualizar" (click)="functionUpdate()"
                class="p-button-success"></button>
        </div>
    </p-dialog>
</body>

</html>