<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <p-card header="Administrar usuarios">
        <p class="m-0">
            Administrar usuarios del sistema
        </p>
        <button class="button-module" (click)="goPersona()" >Administrar usuarios</button>
    </p-card><br>
    <p-card header="Administrar campus">
        <p class="m-0">
            Administar campus del sistema
        </p>
        <button class="button-module" (click)="goCampus()" >Administrar campus</button>
    </p-card><br>
    <p-card header="Administrar sedes">
        <p class="m-0">
            Administrar sedes del sistema
        </p>
        <button class="button-module" (click)="goSede()" >Administrar sedes</button>
    </p-card><br>
    <p-card header="Administrar cargos">
        <p class="m-0">
            Administrar cargos del sistema
        </p>
        <button class="button-module" (click)="goCargo()" >Administrar cargos</button>
    </p-card><br>
    <p-card header="Administrar carnets">
        <p class="m-0">
            Administrar carnets del sistema
        </p>
        <button class="button-module" (click)="goCarnet()" >Administrar carnets</button>
    </p-card><br>
    <p-card header="Administrar tipos de documento">
        <p class="m-0">
            Administrar tipos de documento del sistema
        </p>
        <button class="button-module" (click)="goTipoDocumento()" >Administrar tipos de documento</button>
    </p-card><br>
    <p-card header="Administrar programas">
        <p class="m-0">
            Administrar programas del sistema
        </p>
        <button class="button-module" (click)="goPrograma()" >Administrar programas</button>
    </p-card><br>
    <p-card header="Administrar correos institucionales">
        <p class="m-0">
            Administrar correos institucionales del sistema
        </p>
        <button class="button-module" (click)="goContacto()" >Administrar correos institucionales</button>
    </p-card><br>
    <p-card header="Administrar roles">
        <p class="m-0">
            Administrar roles del sistema
        </p>
        <button class="button-module" (click)="goRol()" >Administrar roles</button>
    </p-card><br>
    <p-card header="Administrar eventos en la universidad">
        <p class="m-0">
            Administrar eventos en la universidad del sistema
        </p>
        <button class="button-module" (click)="goEvento()" >Administrar eventos en la universidad</button>
    </p-card><br>
    <p-card header="Administrar bloques">
        <p class="m-0">
            Administrar bloques del sistema
        </p>
        <button class="button-module" (click)="goBloque()" >Administrar bloques</button>
    </p-card>

</body>

</html>